<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.MessageMapper">
	<insert id="message" parameterType="MessageDTO">
	insert into web_message values(num_message.nextval,#{sender},#{recipient},#{message},sysdate)
	
	</insert>
	
	<select id="showMessage" parameterType="String" resultType="MessageDTO">
		select * from web_message where recipient=#{email}
	</select>

	<delete id ="deleteMessage" parameterType="String">
		delete from web_message where recipient = #{email}
	</delete>
	
	<delete id ="OnedeleteMessage" parameterType="int">
		delete from web_message where num = #{num}
	</delete>
</mapper>